

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Helvetica Neue", sans-serif;
}

.text-center{
    text-align: center;
}

.bg-primary{
    background-color: dodgerblue;
}


/*Small Devices*/
@media (min-width: 576px) {
	body {
		background-color: yellow;
	}
}

/*Medium Devices*/
@media (min-width: 768px) {
	body {
		background-color: lightgreen;
	}
}

/*Large Devices*/
@media (min-width: 992px) {
	body {
		background-color: lightblue;
	}
}